[Desktop Entry]
Name=Wine Windows Program Loader
Comment[en_GB]=wine player
Exec=/usr/bin/wine %f
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
Icon=/usr/share/local/bay-wine/wine.png
Keywords=flash;player;swf;
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Name[tr_TR.UTF-8]=Wine - Exe Çalıştırıcı
